{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}

	{% if travelRoute is defined and travelRoute is not null %}
		<table class="table">
			<thead id="travelHead" class="thead-light">
			<th colspan="4">{{ travelRoute.header }}</th>
			</thead>

			<tbody id="travelBody">
			{% for line in travelRoute.body %}
				<tr>
					<td>{{ line.direction }}</td>
					<td>{{ line.title }}</td>
					<td>{{ line.coordinates }}</td>
					<td>{{ line.distance }}</td>
				</tr>
			{% endfor %}
			</tbody>

			<tfoot>
			<tr>
				<td colspan="4">{{ travelRoute.totalDistance }}</td>
			</tr>
			</tfoot>
		</table>
	{% endif %}

	{% if beersCollection is defined and beersCollection is not null %}
		<table class="table">
			<thead id="beersHead" class="thead-light">
			<th>{{ beersCollection.header }}</th>
			</thead>

			<tbody id="beersBody">
			{% for line in beersCollection.body %}
				<tr>
					<td>{{ line }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}

	<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button"
	   title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
		<span class="glyphicon glyphicon-chevron-up"></span>
	</a>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('/js/toTopButton.js') }}"></script>
	<script src="{{ asset('/js/tableBodyVisibility.js') }}"></script>
{% endblock %}